.container {
    background-color: whitesmoke;
    float:left;
    margin-left: 30px;
    margin-right: 15px;
    width: 800px;
    height: 1250px;
    margin-bottom: 100px;
    margin-top: 50px;
   
  }

  .float-left {
      padding-inline-start: 15px;
      padding-bottom: 40px;;
  }